.knowledge-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        padding-left: $indent-3;
        /* column-gap: 30px;
        row-gap: 10px; */
    }

    &__group {
        display: flex;
        align-items: center;
        padding-right: 20px;
        padding-left: 20px;

        &--first {
            border-right: 1px solid $grey-5;
        }
    }

    &__title {
        @include font($grey-6, 14px, 20px, 600);
    }

    &__item {
        display: flex;
        align-items: center;

        & + & {
            margin-left: 20px;
        }

        &:hover {
            .knowledge-filter__radio-button {
                .radio-button__label:before {
                    border-color: $grey-7;
                }
            }

            .knowledge-filter__radio-button {
                .radio-button__input:checked + .radio-button__label:before {
                    border-color: #7367F0;
                }
            }
        }
    }

    &__radio-button {

    }

    &__label {
        margin-left: 8px;
        @include font($text-color-1, 14px, 20px, 400);
        cursor: pointer;
    }

    &__btn {
        /* @include font(#7B7B7B, 14px, 17px, 500);
        cursor: pointer; */
    }
}