.knowledge-confirm {
    &__text {
        text-align: center;
        @include font($text-color-2, 16px, 22px, 400);
    }

    &__table {
        margin-top: $indent-3;
        border-radius: 5px;
        overflow: hidden;
    }

    &__table-header {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        background-color: $primary-2;
    }

    &__table-header-title {
        @include font($text-color-2, 14px, 20px, 600);
    }

    &__table-body {
        max-height: 125px;
        padding: 10px;
        background-color: $primary-3;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 3px;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: $grey-5 !important;
        }

        &::-webkit-scrollbar-track {
            border-radius: 5px;
            background-color: transparent;
        }

        & {
            scrollbar-color: $grey-5 transparent; /*Цвет скролла, цвет ползунка*/
            scrollbar-width: thin; /*Толщина скролла thin, auto*/
        }
    }
    
    &__table-item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & + & {
            margin-top: $indent-1;
        }
    }

    &__question {
        display: block;
        width: 100%;
        @include font($text-color-1, 14px, 20px, 400);
        @include truncate(100%);
        cursor: pointer;
    }
}
