$table-grid-template: auto / minmax(18px, 31px) auto minmax(100px, 10%) minmax(140px, 12%) minmax(135px, 10%) minmax(90px, 10%);

.knowledge-table {
    display: grid;
    grid-template: 50px 1fr / 1fr;
    border: 1px solid $grey-3;
    border-radius: 5px;

    &__header {
        position: sticky;
        top: $header-height;
        z-index: 10;
        display: grid;
        grid-template: $table-grid-template;
        align-items: center;
        padding: 10px 20px;
        @include font($grey-8, 14px, 20px, 600);
        text-transform: uppercase;
        background-color: $grey-2;
    }

    &__header-item {
        &--sortable {
            display: flex;
            align-items: center;
        }

        &--center {
            text-align: center;
        }
    }

    &__icon-sort {
        margin-left: $indent-1;
    }

    &__body {}

    &__item-wrapper {
        &.open {
            .knowledge-table__row {
                background-color: $blue-3;
                border-color: transparent;
            }
        }
    }

    &__row {
        display: grid;
        grid-template: $table-grid-template;
        align-items: center;
        padding: 15px 20px;
        background-color: $white;
        border-bottom: 1px solid $white;
        transition: $transition;

        &:hover {
            background-color: $primary-3;

            .knowledge-table__item {
                &--question,
                &--date,
                &--enquery {
                    color: $primary-1;
                }

                &-icon {
                    .icon__fill {
                        fill: $primary-1;
                    }
        
                    .icon__stroke {
                        stroke: $primary-1;
                    }
                }
            }
        }

        &.active {
            .knowledge-table__item {
                &--question,
                &--date,
                &--enquery {
                    color: $primary-1;
                }

                &-icon {
                    .icon__fill {
                        fill: $primary-1;
                    }
        
                    .icon__stroke {
                        stroke: $primary-1;
                    }
                }
            }
        }

        &--special {
            grid-template: auto / auto;
            justify-content: center;
            align-items: center;
            padding: 40px;
            text-align: center;
            @include font($grey-5, 18px, 24px, 500);
        }
    }

    &__full {
        grid-column: 2 / 3;
        @include font($text-color-2, 14px, 20px, 400);
    }

    &__full-question {}

    &__full-answer {
        margin-top: $indent-3;
        
        &.hide {
            .knowledge-table__answer-block {
                max-height: 100px;
                overflow: hidden;
    
                &:before {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    &__answer-block {
        position: relative;
        
        &:before {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 20px;
            background:  linear-gradient(180deg, rgba(244, 251, 255, 0) 0%, #F4FBFF 100%);;
            opacity: 0;
            visibility: hidden;
        }

        ol, ul {
            padding-left: 20px;
        }
    }

    &__open-answer-btn {
        margin-top: $indent-3;
        margin-left: auto;
    }

    &__full-title {
        margin-bottom: $indent-1;
    }

    &__item-wrapper {
        &:last-child {
            .v-table__row {
                &:last-child {
                    border-bottom: none;
                }    
            }
        }
    }

    &__item {

        &--center {
            display: flex;
            justify-content: center;
        }

        &--question {
            position: relative;
            display: grid;
            grid-template: 1fr / auto 31px;
            cursor: pointer;
        }

        &--question,
        &--date,
        &--enquery {
            @include font($grey-9, 14px, 20px, 400);
            transition: $transition;
        }

        &-icon {
            padding-right: $indent-2;

            .icon__fill {
                fill: $grey-8;
            }

            .icon__stroke {
                stroke: $grey-8;
            }
        }
    }

    &__item-question {
        @include truncate(100%);
    }

    &__status {
        padding: 4px 10px;
        white-space: nowrap;
        @include font(#fff, 12px, 16px, 600);
        border-radius: 17px;

        &--public {
            color: $green-1;
            background-color: $green-2;
        }

        &--not-public {
            color: $red-1;
            background-color: $red-2;
        }

        &--draft {
            color: $orange-1;
            background-color: $orange-2;
        }
    }

    &__dropdown {
        & + .dropdown__body--top {
            .knowledge-table__action-menu {
                bottom: 100%;
                flex-direction: column-reverse;
            }
        }

        & + .dropdown__body--bottom {
            .knowledge-table__action-menu {
                top: 100%;
                flex-direction: column;
            }
        }
    }

    &__action-menu {
        position: absolute;
        right: 100%;
        z-index: 5;
        display: flex;
        min-width: 185px;
        background-color: $white;
        border: 1px solid $grey-3;
    }

    &__action-item {
        display: inline-block;
        padding: 10px 15px;
        text-align: center;
        @include font($text-color-1, 14px, 20px, 400);
        cursor: pointer;
        transition: $transition;

        & + & {
            border-top: 1px solid $grey-3;
        }

        &:hover {
            color: $primary-1;
        }
    }
}

.a-table-row {
    &-enter-active {
        animation: table-row .3s;
    }
    &-leave-active {
        animation: table-row .3s reverse;
    }
}

@keyframes table-row {
    0% {
        opacity: 0;
        transform: translateY(-3px) scaleY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scaleY(0px);
    }
}

.a-question-arrow {
    &-enter-active {
        animation: question-arrow .2s;
    }

    &-leave-active {
        animation: question-arrow .2s reverse;
    }
}

@keyframes question-arrow {
    0% {
        transform: translateY(-3px) scaleY(-50%);
    }

    100% {
        transform: translateY(0px) scaleY(0px); 
    }
}

.a-sort-icon {
    &-enter-active {
        animation: sort-icon .2s;
    }
}

@keyframes sort-icon {
    0% {
        transform: rotateY(90deg);
    }

    100% {
        transform: rotateY(0deg); 
    }
}
