$table-grid-template: auto / minmax(18px, 31px) auto minmax(100px, 10%) minmax(140px, 12%) minmax(135px, 10%) minmax(90px, 10%);

.knowledge-table {
    .table__header {
        grid-template: $table-grid-template;
    }

    .table__row {
        grid-template: $table-grid-template;
    }
}
