.breadcrumbs {


    &__list {
        display: flex;
        padding: 0;
        list-style: none;
    }

    &__item {
        position: relative;

        &:not(:first-child) {
            padding-left: 20px;

        }

        &:not(:first-child):before {
            content: ">";
            position: absolute;
            left: 0;
            width: 20px;
            height: 20px;
            padding-left: 6px;
        }
    }

    &__link {

    }
}
