/node_modules
/storage/*.key
/storage/temp.png
/storage/api-docs
/public/modules
/public/temp.png
/public/css
/public/css/*
/public/js
/public/js/*
/public/ico
/public/ico/*
/public/admin/js
/public/admin/js/*
/public/admin/css
/public/admin/css/*
/public/fonts
/public/images
/public/images/*
/public/icons
/public/dependencies
/public/storage
public/MadelineProto*
/public/mix-manifest.json
/videos/donate-success.mp4n
/vendor
/lib/Madeline/vendor
/lib/Madeline/composer.lock
.env
!.docker/.env
/*.testing
.env.backup
.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laravel-echo-server.lock
laravel-echo-server.json
.phpstorm.meta.php
_ide_helper.php
/lib/session.madeline
/lib/session.madeline.ipcState.php
/lib/session.madeline.ipcState.php.lock
/lib/session.madeline.lightState.php
/lib/session.madeline.lightState.php.lock
/lib/session.madeline.lock
/lib/session.madeline.safe.php
/lib/session.madeline.safe.php.lock
/lib/tdLib
/tdLib
/tests/Browser
/app/Http/Controllers/TestController.php
test.json
/videos/donate-success.mp4
public/mix-manifest.json
public/temp.png
/resources/views/vendor/l5-swagger
/app/Providers/TelescopeServiceProvider.php
/_ide_helper_models.php
/public/vendor/telescope/app.css
/public/vendor/telescope/app.js
/public/vendor/telescope/app-dark.css
/public/vendor/telescope/favicon.ico
/public/vendor/telescope/mix-manifest.json
/config/telescope.php
/tnt
/Http/Controllers/TestController.php
/app/Services/Tinkoff/TinkoffMockServer.php
