/node_modules
/storage/*.key
/storage/temp.png
/public/modules
/public/temp.png
/public/css
/public/css/*
/public/js
/public/js/*
/public/ico
/public/ico/*
/public/admin/js
/public/admin/js/*
/public/fonts
/public/images
/public/images/*
/public/icons
/public/dependencies
/public/storage
/public/mix-manifest.json
/videos/donate-success.mp4n
/vendor
/lib/Madeline/vendor
.env
/*.testing
.env.backup
composer.lock
.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laravel-echo-server.lock
laravel-echo-server.json
.phpstorm.meta.php
_ide_helper.php
/lib/session.madeline
/lib/session.madeline.ipcState.php
/lib/session.madeline.ipcState.php.lock
/lib/session.madeline.lightState.php
/lib/session.madeline.lightState.php.lock
/lib/session.madeline.lock
/lib/session.madeline.safe.php
/lib/session.madeline.safe.php.lock
/lib/tdLib
/tdLib
/tests/Browser
/tdLib

test.json
/videos/donate-success.mp4
package-lock.json
public/mix-manifest.json
public/temp.png
