$primary-1: #7367f0;
$primary-2: #7367f026;;
$primary-3: #7367f00d;
$primary-4: #8175f9;
$primary-5: #6257d2;

$grey-1: #f8f9fA;
$grey-2: #f1f3f5;
$grey-3: #ebebf0;
$grey-4: #e0dee6;
$grey-5: #c8c6ce;
$grey-6: #b5b4b8;
$grey-7: #7b7a7e;
$grey-8: #4c4957;
$grey-9: #363440;
$grey-10: #252129;
$grey-11: #3F3F3F;

$green-1: #21c169;
$green-2: #21c16926;
$green-3: #21c1690d;
$green-4: #2fcd76;

$blue-1: #30aaf0;
$blue-2: #30aaf026;
$blue-3: #30aaf00d;

$yellow-1: #fcc132;
$yellow-2: #fcc13226;
$yellow-3: #fcc1320d;

$orange-1: #ff9f43;
$orange-2: #ff9f4326;
$orange-3: #ff9f430d;

$red-1: #e24041;
$red-2: #e2404126;
$red-3: #e240410d;
$red-4: #f14e4f;

$white: #ffffff;
$black: #000000;
$black-hover: #0000000d;

// Typography
$text-color-1: $grey-10;
$text-color-2: $grey-9;
$text-color-3: $grey-11;

// State Colors
$success-1: $green-1;
$success-2: $green-2;
$success-3: $green-3;
$success-4: $green-4;

$info-1: $blue-1;
$info-2: $blue-2;
$info-3: $blue-3;

$warning-1: $yellow-1;
$warning-2: $yellow-2;
$warning-3: $yellow-3;

$danger-1: $red-1;
$danger-2: $red-2;
$danger-3: $red-3;
$danger-4: $red-4;
