// === FONTS ===
@font-face {
	font-family: 'Montserrat';
    font-display: swap;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Light.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
	font-family: 'Montserrat';
    font-display: swap;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
	font-family: 'Montserrat';
    font-display: swap;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
	font-family: 'Montserrat';
    font-display: swap;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
	font-family: 'Montserrat';
    font-display: swap;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-Italic.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-Italic.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
	font-family: 'Montserrat';
    font-display: swap;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-MediumItalic.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-MediumItalic.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
	font-family: 'Montserrat';
    font-display: swap;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-SemiBoldItalic.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
}
