.chart-analytics-community {
    padding: 0 0  50px 0;
    border-bottom: 1px solid $primary-1;


    &__header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 40px;
        
        @media (min-width: $md) {
            column-gap: 90px;
        }
    }

    &__label {
        display: flex;
        flex-direction: column;
        row-gap: $indent-1;

        &--pointer {
            cursor: pointer;
        }

        &--right {
            align-items: flex-end;
        }
    }

    &__text {
        @include font($text-color-1, 12px, 15px, 500);

        @media (min-width: $md) {
            font-size: 18px;
            line-height: 24px;
        }
    }

    &__value {
       @include font($text-color-1, 18px, 21px, 600);

        @media (min-width: $md) {
            font-size: 34px;
            line-height: 40px;
        }
    }

    &__currency {
        @include font(inherit, 18px, 21px, 400);

        @media (min-width: $md) {
            font-size: 34px;
            line-height: 40px;
        }
    }

    &__chart {
        margin-top: $indent-3;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: $indent-3;
    }
}
