.custom-1-color {
    color: $custom-1-color !important;
}

.custom-1-background-color {
    background-color: $custom-1-color !important;
}

.custom-1-border-color {
    border-color: $custom-1-color !important;
}
