.community-item {

    &__title {
        position: relative;
        min-height: 40px;
        max-height: 40px;
        overflow: hidden;

        &:after {
            content: "";
            position: absolute;
            //top: 100%;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 21px;
            background: rgb(255,255,255);
            background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9640231092436975) 5%, rgba(255,255,255,0) 100%);
        }
    }
}

.community-badge {
    top: 10px !important;
    right: -10px !important;
    flex-direction: column;
    align-items: end !important;
    
    span {
        margin-bottom: 8px;
        padding: 5px 10px !important;
        border-radius: 4px;
    }
}

.product {

    &__body {
        padding: 15px 10px 10px 10px;
    }
    
    &__btns {
        display: flex;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        color: #6E6B7B;
        border: 1px solid #D8D6DE;
        border-radius: 5px;
        transition: .3s;

        &:hover {
            color: $link-color;
            border-color: $link-color;
        }

        & + & {
            margin-left: 10px;
        }

        &--first {
            margin-right: auto;
        }
    }
}

.community-profile-card {
    z-index: 2;
    transition: all 0s ease-in-out, background 0s, color 0s, border-color 0s !important;
}

[data-tab="profileBlock"] {
    z-index: 1;

    &.invisible {
        width: 0%;
        padding: 0;
        overflow: hidden;
        opacity: 0;
    }
}

#profile-content {
    z-index: 2;
}

.product-badge {
    top: 15px !important;
    right: -5px !important;
    padding: 5px 10px !important;
}

@media screen and (max-width: 576px) {
    .product-badge {
        top: auto !important;
        right: auto !important;
        bottom: -10px !important;
        left: 10px !important;
    }
}