.tab-nav {

    &__list {
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        gap: $indent-1;
        margin: 0;
        list-style: none;
    }

    &__item {
        position: relative;
        
        @include font($text-color-2, 14px, 20px, 500);
        
        &:not(:last-child):after {
            content: "|";
            color: $text-color-2;
            margin-left: 10px;
        }

        

        &.active {
            position: relative;
            color: $primary-1;   
        }

    }

    &__link {
        color: inherit;
    }
}
