$link-last-color: $grey-10;

.breadcrumbs {

    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }

    &__item {
        position: relative;

        & + & {
            margin-left: 10px;

            &:before {
                content: "";
                margin-right: 10px;
                background-image: url("/ico/arrow-right.svg");
                background-repeat: no-repeat;
                background-position: center;
                padding-right: 5px;
            }
        }
    }

    &__link {
        
        &--last {
            @include font($link-last-color, 14px, 20px, 400);
        }
    }
}
