.project-creation {
    min-height: 500px; //EXAMPLE
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;

    &.form {
        min-height: auto;
        margin: 0;
        display: block;
    }

    &__communities {
        padding: 0 10px;
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__communities-another {
        @include font($text-color-2, 16px, 22px, 500);
        margin: 0 0 20px;
    }

    &__project {
        padding: 0 10px;
        width: 75%;
    }

    &__communities-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__project {
        display: flex;
        flex-direction: column;

        &--top {
            margin: 0 0 30px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        &--bottom {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__project-name {
        label {
            @include font($text-color-2, 12px, 16px, 400);
            display: block;
        }
    }

    &__create-name {
        @include font($text-color-1, 14px, 20px, 400);
        padding: 10px 20px;
        border: 1px solid $grey-4;
        border-radius: 5px;
    }

    &__project-header,
    &__project-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__project-header {
        label {
            @include font($text-color-1, 14px, 20px, 400);
            display: flex;
            align-items: center;
        }
        
        input.chk-all {
            margin: 0 10px 0 0;
            width: 18px;
            height: 18px;
        }
    }

    &__project-communities {
        @include font($text-color-2, 16px, 22px, 500);

        .qty {
            color: $primary-1;
        }
    }

    &__project-main {
        &--empty {
            @include font($grey-6, 14px, 20px, 500);
            max-width: 390px;
            margin: 0 auto;
            text-align: center;
        }
    }
}