.community-settings {

    &__item {
        margin-top: 30px;
    }

    &__form-item {
        margin-top: $indent-3;
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: $indent-3;
        margin-top: 30px;

        @media (min-width: $sm) {
            margin-top: 60px;
        }
    }

    &__change-tariff {
        display: grid;

        //grid-template-columns: 1fr;

        grid-template-columns: 300px 600px;

        align-items: flex-end;
        gap: 20px 40px;
        margin-top: 30px;

        @media (min-width: $md) {
            //grid-template-columns: 300px 400px;
            grid-template-columns: 300px 600px;
        }
    }

    &__input-wrapper {
        display: flex;
        flex-direction: column;

        // &:last-child {
        //     label {
        //         align-self: flex-end;
        //     }
        // }

        .tariff_pay_period {
            border-radius: 0 5px 5px 0;
        }

        &.your-value-wrap {
            opacity: 0;
            transition: all .3s;
            padding: 0 0 0 40px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 21px;
                width: 40px;
                height: 1px;
                background-color: $grey-4;
            }
        }

        .your-value-input {
            max-width: 135px;
        }
    }

    &__input-group {
        display: grid;

        //grid-template-columns: 45% 55%;

        grid-template-columns: 1fr 1fr 1fr;


        div:first-child input {
            border-right: none;
            border-radius: 5px 0 0 5px;
        }

        div:last-child select {
            border-radius: 0 5px 5px 0;
        }
    }

    &__tariff-public-settings {
        display: grid;
        grid-template-columns: 1fr;

        column-gap: 30px;
        
        @media (min-width: $lg) {
            grid-template-columns: minmax(470px, 1fr) 1fr;
        }
    }

    &__tariff-preview {
        margin-top: $indent-2;

        @media (min-width: $lg) {
            margin-top: 0;
        }
    }

    &__tariff-public-controls {
        margin-top: 30px;
        text-align: center;

        @media (min-width: $lg) {
            text-align: left;
        }
    }

    &.active {
        .community-settings__input-wrapper.your-value-wrap {
            opacity: 1;
        }
    }
}
