.community-tariff {


    &__list {
        display: grid;
        gap: 30px;
        margin-top: 30px;
        list-style: none;
        
        @media (min-width: $sm) {
            grid-template-columns: repeat(auto-fill, 255px);
        }
    }

    // &__item {}

    &__empty-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-column: 1 / -1;
        margin-top: 250px;
        text-align: center;

        @media (min-width: $sm) {
            margin-top: 125px;
        }
    }

    &__empty-text {
        @include font($grey-6, 14px, 20px, 500);
    }

    &__empty-btn {
        margin-top: 35px;
    }
}
