$icon-width: 16px;
$icon-height: $icon-width;

$icon-color-1: $grey-5;
$icon-color-2: $grey-7;
$icon-color-3: $primary-1;
$icon-bg-1: $white;

.radio-button {
    position: relative;
    width: $icon-width;
    height: $icon-height;

    &:hover,
    &:focus {
        .radio-button__label:before {
            border-color: $icon-color-2;
        }

        .radio-button__input:checked + .radio-button__label:before {
            border-color: $icon-color-3;
        }
    }

    &__input {
        display: none;

        &:checked + .radio-button__label:before {
            border: 5px solid $icon-color-3;
        }
    }

    &__label {
        cursor: pointer;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            display: block;
            width: $icon-width;
            height: $icon-height;
            border: 1px solid $icon-color-1;
            background-color: $icon-bg-1;
            border-radius: 50%;
            transition: .2s linear;
        }   
    }

    &--disabled {
        pointer-events: none;
        opacity: .4;
    }
}
