$search-icon-color-1: $grey-6;
$search-icon-color-2: $primary-1;


.search-field {
    position: relative;

    &:hover {
        .search-field__field {
            border-color: $grey-7;

        }
    }

    &.active {
        .search-field__field {
            border-color: $search-icon-color-2;
        }

        .search-field__icon {
            .icon__fill {
                fill: $search-icon-color-2;
            }
    
            .icon__stroke {
                stroke: $search-icon-color-2;
            }
        }
    }

    &__field {
        width: 100%;
        padding: 10px 50px 10px 20px;
        @include font($grey-7, 14px, 20px, 400);
        border: 1px solid $grey-5;
        border-radius: 100px;
        transition: $transition;
    }

    &__icon {
        position: absolute;
        top: calc(50% - 12px);
        right: 20px;

        .icon__fill {
            fill: $search-icon-color-1;
        }

        .icon__stroke {
            stroke: $search-icon-color-1;
        }
    }

    &--disabled {
        pointer-events: none;
        opacity: .4;
    }
}
