.select {
    position: relative;
    display: inline-block;
    @include font($text-color-1, 12px, 16px, 400);
    cursor: pointer;

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 45px;
        padding: 4px 6px 4px 10px;
        border: 1px solid $grey-5;
        border-radius: 2px;
        transition: $transition;

        &.open {
            border-color: $primary-1;

            .select__arrow {
                .icon__fill {
                    fill: $primary-1;
                }
        
                .icon__stroke {
                    stroke: $primary-1;
                }
            }
        }
    }

    &__value {
        white-space: nowrap;
    }

    &__arrow {
        margin-left: 6px;

        .icon__fill {
            fill: $grey-8;
        }

        .icon__stroke {
            stroke: $grey-8;
        }
    }

    &__body {
        position: absolute;
        top: 30px;
        left: 0;
        min-width: 100%;
        border-radius: 2px;
        overflow: hidden;
        box-shadow: 0px 4px 5px 0px #0000001a;
    }

    &__option {
        padding: 4px 6px 4px 10px;
        white-space: nowrap;
        background-color: $white;
        transition: $transition;

        &:hover {
            color: $primary-1;
            background-color: $primary-2;
        }

        &.selected {
            color: $white;
            background-color: $primary-1;
        }
    }
}
