.a-dropdown {
    &-enter-active {
        animation: dropdown-bounce-in .3s;
    }
    &-leave-active {
        animation: dropdown-bounce-in .2s reverse;
    }
}

@keyframes dropdown-bounce-in {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.a-cell {
    &-enter-active {
        animation: cell-bounce-in .3s;
    }
    &-leave-active {
        animation: cell-bounce-in .3s reverse;
    }
}

@keyframes cell-bounce-in {
    0% {
        opacity: 0;
        transform: translateY(-3px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.a-overlay {
    &-enter-active, &-leave-active {
        transition: opacity .3s ease;
    }
    &-enter, &-leave-to {
        opacity: 0;
    }
}

.a-popup {
    &-enter-active {
        animation: popup-bounce-in .3s;
    }
    &-leave-active {
        animation: popup-bounce-in .1s reverse;
    }
}

@keyframes popup-bounce-in {
    0% {
        transform: translate(-50%, -48%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.a-arrow {
    .fade-enter-active,
    .fade-leave-active {
        animation: arrow 1.3s;
    }

    .fade-enter-from,
    .fade-leave-to {
        animation: arrow .3s reverse;
    }
}

@keyframes arrow {
    0% {
        transform: rotate(50deg);
        //opacity: 0;
    }
    100% {
        transform: rotate(180deg);
        //opacity: 1;
    }
}
