.container {
    max-width: 1150px !important;
    margin: 0 auto !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
}

body {
    &.locked {
        overflow: hidden;
    }
}
