.container {
    max-width: 1140px !important;
    margin: 0 auto !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

html {
    width: auto !important;
    margin-right: calc(-1 * (100vw - 100%));
    //убрать эффект тряски верстки
    // margin-left: calc(100vw - 100%);
    // margin-right: 0;
}

body {
    display: flex;
    flex-direction: column;
    
    &.locked {
        overflow: hidden;
    }
}

.main {
    padding-top: $header-height;
    flex: 1 0 auto;

    @media (min-width: $md) {
        width: 100%;
    }
}
