.container {
    max-width: 1140px !important;
    margin: 0 auto !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

html {
    // width: auto !important;
    // margin-right: calc(-1 * (100vw - 100%));
    //убрать эффект тряски верстки

    
    // margin-left: calc(100vw - 100%);
    // margin-right: 0;
}

body {
    &.locked {
        overflow: hidden;
    }
}

.main {
    padding-top: 90px;

    @media (min-width: $md) {
        padding-top: 150px;
    }
}
