.form-item {
    width: 100%;
    padding: 8px 30px;
    @include font(black, 14px, 22px, 600);
    border: 1px solid #BCBCBC;
    border-radius: 5px;

    &::placeholder {
        @include font(#BCBCBC, 14px, 22px, 600);
    }
}
