.v-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include font(#333, 14px, 22px, 400);

    &__item {
        display: flex;
    }

    &__page {
        padding: 10px 15px;
        background-color: #fff;
        border: 1px solid grey;
        cursor: pointer;

        &.active {
            background-color: grey;
        }
    }
}
