.v-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 15;
    width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    transform: translate(-50%, -50%);

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
        border-bottom: 2px solid #E9ECEF;
    }

    &__title {
        font-size: 21px;
        text-transform: uppercase;
    }

    &__close-btn {
        cursor: pointer;
    }

    &__body {
        padding: 30px;
        border-bottom: 2px solid #E9ECEF;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 30px;
        gap: 30px;
    }

    &__footer-btn {
        padding: 10px 20px;
        background-color: rgb(201, 216, 191);
    }
}
