.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    &__item {
        display: flex;
    }

    &__description {
        @include font($text-color-1, 14px, 22px, 400);
    }

    &__select {
        margin-right: 8px;
        margin-left: 8px;
    }

    &__page {
        padding: 10px 15px;
        background-color: #fff;
        border: 1px solid grey;
        cursor: pointer;

        &.active {
            background-color: grey;
        }
    }
}
