.analytics-community {

    &__analytics-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.projects_creation {
            margin: 0 0 30px;
            justify-content: flex-start;
            align-items: baseline;
            flex-direction: column;
        }
    }

    &__title-wrap {
        display: flex;
        align-items: center
    }

    &__filter {
        display: inline-block;

        &:not(:last-child){
            margin: 0 20px 0 0;
        }
    }

    &__title {
        @include font($text-color-1, 30px, 36px, 600);
        margin: 0;
    }

    &__card-list {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(auto-fill, minmax(350px, calc(33% - 13px)));
        justify-content: center;
        column-gap: 25px;
        row-gap: 25px;
        margin-top: 30px;
        list-style: none;
    }

    //&__nav {}

    &__tab {
        margin-top: 40px;
    }

    &__progress {
        margin-top: 50px;
    }

    &__table {
        margin-top: 50px;
    }

    &__footer {
        margin: 30px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.a-page-tabs {
    &-enter-active {
        animation: page-tabs .2s;
    }
    &-leave-active {
        animation: page-tabs .2s reverse;
    }
}

@keyframes page-tabs {
    0% {
        opacity: 0;
        //transform: translateX(-100%);
    }
    
    100% {
        opacity: 1;
        //transform: translateX(0px);
    }
}
