.community {
    padding-top: 20px;
    padding-bottom: 50px;

    &__communities-page {
        padding: 40px 0 0;
        background: $white;
        position: relative;
        z-index: 10;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__title {
        @include font($text-color-1, 52px, 60px, 700);
        @include truncate(450px);
        padding: 0 25px 0 0;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 9px 11px 0 11px;
            border-color: $grey-9 transparent transparent transparent;
            border-radius: 10px;
        }
    }

    &__profile {
        margin-top: 35px;
    }

    &__profile-btn-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        // margin-top: 60px;
        
        &:before {
            content: "";
            position: absolute;
            top: calc(50% - 1px);
            right: 0;
            left: 0;
            z-index: -1;
            height: 1px;
            background-color: $primary-1;
        }

        &.project-community {
            background: $white;
            margin: 0;
    
            .community__profile-btn {
                // margin: 60px 0 0;
    
                // &.active {
                //     margin: 0;
                // }
            }
        }
    }

    &__profile-btn {
        padding: 4px 28px 4px 14px;
        @include font($primary-1, 0px, 20px, 600);
        text-transform: uppercase;
        background-color: $white;
        border-radius: 2px;
        cursor: pointer;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            top: 40%;
            right: 18px;
            box-sizing: border-box;
            border-left: 1px solid $primary-1;
            border-bottom: 1px solid $primary-1;
            transform-origin: center center;
            transform: rotate(-225deg);
        }

        &.active::before {
            top: 32%;
            transform: rotate(-45deg);
        }

        @media (min-width: $lg) {
            padding: 4px 38px 4px 14px;
            font-size: 14px;
        }
    }

    &__tab {
        margin-top: 40px;
    }
}
