.knowledge {
    padding-top: 20px;
    padding-bottom: 60px;

    .container {
        display: flex;
        flex-direction: column;
        min-height: 86vh;
    }

    &__breadcrumbs {}

    &__title {
        display: flex;
        flex-wrap: wrap;
        margin-top: $indent-4;
        @include font($text-color-2, 24px, 32px, 700);
        text-transform: uppercase;
    }

    &__name {
        @include truncate(550px);  
    }

    &__auxiliary {
        margin-top: $indent-1;
    }

    &__auxiliary-link {
        & + & {
            margin-left: $indent-2;
        }
    }

    &__control {
        display: grid;
        grid-template: 1fr / minmax(250px, 70%) auto;
        column-gap: $indent-4;
        margin-top: 40px;
    }

    

    &__add-btn {
        justify-self: end;
        /* padding: 8px 30px;
        @include font(#fff, 14px, 22px, 600);
        background-color: #000;
        border-radius: 5px; */
    }

    &__multiple-operations {
        display: flex;
        column-gap: 5px;
        margin-top: $indent-4;
    }

    &__multiple-btn {
        justify-self: start;
    }

    &__filter {
        margin-top: $indent-4;
    }

    &__table-wrapper {
        flex: 1 0 100%;
    }

    &__table {
        margin-top: $indent-2;
    }

    &__pagination {
        flex: 0 0 auto;
        margin-top: 30px;
    }
}
