@import "./form-message";

.form-item {
    & + & {
        margin-top: $indent-3;
    }

    &__label {
        margin-bottom: 3px;
    }

    &__message {
        margin-top: 3px;
    }
}

.checkbox-group {
    display: flex;
    align-items: center;

    &__label {
        display: inline-block;
        margin-left: $indent-2;
        @include font($text-color-1, 14px, 20px, 400);
    }
}


