.donate-add {

    &__head {
        display: inline-grid;
        grid-template-columns: 300px 230px 1fr;
        align-items: end;
        gap: 30px;
        width: 100%;

        & .community-settings__inline-command {
            margin: 0;
            padding: 0;
        }
    }

    &__settings-btn {
        justify-self: end;
    }
}
