$link-color: $primary-1;
$link-color-2: $blue-1;

.link {
    @include font($link-color, 14px, 20px, 400);
    cursor: pointer;
    transition: $transition;

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &:active {
        color: $link-color-2;
        text-decoration: underline;
    }
}
