.footer {
    flex: 0 0 auto;
    padding: 20px 0 10px;
    background-color: rgba($primary-1, .05);

    &__wrapper {
        display: flex;
        flex-wrap: wrap;

        @media (min-width: $md ) {
            justify-content: center;
        }
    }

    &__left {
        width: 100%;

        @media (min-width: $lg) {
            width: 30%;
        }

        @media (min-width: $md) {
            width: 30%;
        }
    }

    &__right {
        list-style-type: none;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        @media (min-width: $lg) {
            width: 70%;
        }

        @media (min-width: $md) {
            width: 70%;
        }
    }

    &__telegram-link-wrap,
    &__phone-wrap {
        text-align: center;

        @media (min-width: $md) {
            text-align: left;
        }

        > a {
            display: inline-block;
        }
    }

    &__telegram-link {
        margin: 0 0 10px;
        display: flex;
        align-items: center;
        @include font($blue-1, 14px, 20px, 600);
        transition: all .5s;

        &:hover {
            color: $blue-1;
            opacity: .7;
        }
    }

    &__telegram-img {
        margin: 0 10px 0 0;
    }

    &__phone {
        margin: 0 0 10px;
        display: flex;
        align-items: center;
        @include font($grey-8, 14px, 20px, 600);

        > svg {
            margin: 0 10px 0 0;
        }
    }

    &__item {
        margin: 0 0 10px;
        width: 100%;
        text-align: center;

        @media (min-width: $lg) {
            width: 50%;
        }

        @media (min-width: $md) {
            text-align: left;
        }
    }
}