.main-nav-new {
    

    &__nav {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 15;
        width: 280px;
        padding: 35px;
        background-color: $white;
        animation-duration: .3s;
        animation-name: main-nav-slidein-mobile;

        &.active {
            display: block;

            & + .main-nav-new__overlay {
                display: block;
            }
        }
    
        @media (min-width: $lg) {
            position: static;
            display: block;
            width: auto;
            padding: 0;

            &.active {
                & + .main-nav-new__overlay {
                    display: none;
                }
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        margin: 0;
        list-style: none;
        
        
        @media (min-width: $lg) {
            flex-direction: row;
            column-gap: 30px;
        }
    }

    &__item {
    }
    
    &__link {
        display: flex;
        align-items: center;
        @include font($text-color-1, 16px, 21px, 500);
        text-transform: uppercase;
        transition: $transition;

        &:hover,
        &.active {
            color: $primary-1;

            .main-nav-new__arrow {
                .icon__fill {
                    fill: $primary-1;
                }
            }
        }
    }

    &__arrow {
        margin-left: $indent-1;
        pointer-events: none;

        svg {
            transition: $transition;

            .icon__fill {
                transition: $transition;
            }
        }
    }

    &__burger-btn {
        position: relative;
        width: 24px;
        height: 24px;

        @media (min-width: $lg) {
            display: none;
        }
    }

    &__burger-lines {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1.5px;
        background-color: $grey-10;
        border-radius: 10px;
        pointer-events: none;

        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 1.5px;
            background-color: $grey-10;
            border-radius: 10px;
        }

        &:before {
            top: -8px;
        }

        &:after {
            top: 8px;
        }
    }

    &__overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        display: none;
        background-color: $primary-2;
    }
}

@keyframes main-nav-slidein-mobile {
    from {
        margin-left: -10%;
    }
  
    to {
        margin-left: 0;
    }
}
